@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?rvphlo');
  src:  url('../fonts/icomoon.eot?rvphlo#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?rvphlo') format('truetype'),
    url('../fonts/icomoon.woff?rvphlo') format('woff'),
    url('../fonts/icomoon.svg?rvphlo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e9bd";
}

*{
    font-family:sans-serif;
}


body{

    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
    margin:0;
    min-height: 100vh;
}

.header{
    display: flex;
    justify-content: space-around;

    flex-wrap: nowrap;
    width:100%;
    background-color:#06c0ed;
    padding:10px;
    color:#FFFFFF;
}

.burger-button{
    display: none;
    width:30px;
    height: 30px;
    font-size:30px;
    background-color:rgba(0, 0, 0, .5);
    padding:10px;
    color:#FFFFFF;
    line-height: 30px;
    border-radius:100%;
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
}

.doggyGram-icon{
    width:60px;
    border-right: 1px solid #FFFFFF;
    padding-right: 10px;
}


.header-title {
    display: flex;
    align-self: center;
}
.header-titleLetters{
    padding-left:10px;
}
.photo{
    width:80px;
    border:3px solid #000000;
    border-radius:100%;
    margin:10px;
}
.nav-list *{
    display:inline-block;
    vertical-align: middle;
}
.nav-list li{
    margin:0px 10px;
    list-style: none;
    font-weight: 600;

}
.contact-link a{
    border:1px solid #FFFFFF;
    color:#FFFFFF;
    border-radius: 10px;
    padding:10px;
    height:inherit;
    transition-duration: .5s;
}
.contact-link a:hover{
    font-size:20px;
    padding:6px;
    box-sizing: border-box;
}
.nav-list li a{
    color:#FFFFFF;
    text-decoration:none;
}

.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.post{
    border-radius:5px;
    padding:10px;
    width:400px;
    box-sizing: border-box;
    margin:10px 0px;
    background-color:#F6F6F6;
    box-shadow: 5px 5px 10px;

}


.post-dataProfile{
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.post-imageProfile{
    width:100px;
    height:100px;
    border-radius:100%;
}


.post-datePost h3{
    display: inline-block;
}

.post-containerImagePost{
    width:300px;
    height:400px;

}
.post-imagePost{
    border-radius:20px;
    box-shadow: 5px 5px 5px;
}

.btn-refresh{
    border:0;
    padding:10px 20px;
    color:#FFFFFF;
    background-color:#12a100;
    font-weight: 600;
    cursor: pointer;
    font-size:20px;
    transition-duration:.5s;
    border-radius:5px;
    margin-top:30px;

}

.btn-refresh:hover{
    transform: translateY(-20%);
    box-shadow:3px 5px 5px #000000;
}

.footer{
    align-self: flex-end;
    display:flex;
    flex-wrap: wrap;
    background-color:#06c0ed;
    width:100%;
    justify-content: space-around;
    color:#FFFFFF;
}
.contact a{
    color:#FFFFFF;
    text-decoration: none;
}

.facebook-link,
.github-link{
    border:1px solid #FFFFFF;
    padding:10px;
    border-radius:10px;
    font-weight:600px;
    transition-duration: .5s;
}

.facebook-link:hover,
.github-link:hover{
    color:#000000;
    border-color:#000000;
}

.facebook-icon,
.github-icon{
    padding:0;
    margin:0;
    width:30px;
    vertical-align: middle;
    margin-right:2px;
}

.is-active{
    left:0;
}

.information-title,
.contact-title{
    border-bottom:2px solid #FFFFFF;

}



@media screen and (max-width:1023px){



}
@media screen and (max-width:779px){
    .header{
        justify-content: center;
    }
    .nav{
        background-color:blue;
        opacity: 0.9;
        display:flex;
        flex-direction: column;
        justify-content: center;
        position:fixed;
        left:-100vw;
        top:0;
        right: 0;
        bottom:0;
        z-index: 1;
        transition-duration:.5s;
        width:100vw;
    }
    .is-active{
        left:0;
    }
    .nav-list li{
        text-align:center;
        display: block;
        margin:10px 0;
    }
    .contact-link{

    }

    .profile-link{
        font-size:2em;
    }
    .photo{
        opacity: 1;
        display: block;
        width:150px;
        margin:0 auto;
    }
    .burger-button{
        display: block;
        z-index: 2;
        right:5;
        bottom:5;
    }
}

@media screen and (max-width:479px){
    .header{
        font-size:10px;
    }
    .post{
        width:300px;
    }
    .post-dataProfile{
        font-size:.8em;
    }
    .post-containerImagePost{
        width:200px;
        height:300px;
        margin:0 auto;

    }
    .post-imagePost{

        width:200px;
        height: 300px;
    }
    .footer{

    }



}
